@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  --verylight: hsl(240, 78%, 98%);
  --light: hsl(234, 14%, 74%);
  --medium: hsl(233, 13%, 49%);
  --dark: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--verylight);
  background-image: url("./media/bg-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 30%;
  background-image: url("./media/bg-bottom.svg");
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  color: var(--dark);
  font-size: 2rem;
  margin-bottom: 20px;
}

.toggle-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.annual,
.month {
  color: var(--medium);
}

.annual {
  margin-right: 25px;
}

.month {
  margin-left: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 2px;
  background-color: var(--verylight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + #basic {
  content: "199.99";
}

.flex {
  display: flex;
}

.price-box {
  background: #fff;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.price-box:last-child {
  margin-right: 0;
}

.price-box > h3 {
  color: var(--dark);
  margin-bottom: 30px;
}

.price-box > p {
  display: inline-block;
}

#prof,
#master,
#basic {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 20px;
}

.price {
  font-size: 2rem;
  margin-right: 10px;
  font-weight: lighter;
  color: var(--dark);
}

.price-box > ul {
  color: var(--dark);
  list-style: none;
}

.price-box > ul > li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid var(--light);
}

.price-box > ul > li:last-child {
  border-bottom: 1px solid var(--light);
  margin-bottom: 20px;
}

.price-box > button {
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: 100%;
  border: none;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.price-box > button:hover {
  background: var(--dark);
}

.prem {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
}

.prem > h3 {
  color: #fff;
}

.prem .price {
  color: #fff;
}

.prem #prof {
  color: #fff;
}

.prem > ul {
  color: #fff;
}

.prem > button {
  color: var(--medium);
  background: #fff;
}

.price-box > button:hover {
  background: var(--dark);
  color: #fff;
}

@media screen and (max-width: 950px) {
  .container::before {
    display: none;
  }
  .price-box {
    padding: 20px;
    width: 250px;
  }
  #prof,
  #master,
  #basic {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .prem {
    transform: scale(1);
  }
  .price-box {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .price-box:last-child {
    margin-bottom: 0;
  }
}
